<launch>
  <node name="mv2_driver" pkg="mv2_driver" type="mv2_driver_node" output="screen">
  </node>
  <!-- <node name="mv2_talker" pkg="mv2_driver" type="say_node" output="screen">
  </node> -->

  <node name="joystick" pkg="joy" type="joy_node">
    <param name="dev" value = "/dev/input/js2"/>
  </node>
  <node name="joy_convertor" pkg="mv2_driver" type="convertor_node">
  </node>
  
</launch>