<?xml version="1.0"?>
<launch>
  <node name="mv2_driver" pkg="mv2" type="mv2_node" output="screen">
    <!-- <param name="width" value="640" type="int"/>
    <param name="height" value="480" type="int"/> -->
  </node>
  <node name="mv2_talker" pkg="mv2" type="say_node" output="screen">
  </node>
  <!-- <param name="ip" value="127.0.0.1" type="string"/> -->
</launch>